html{
    height:100%;
}

body{
    position:absolute;
    margin:0px;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
}

#piping{
	width:100%;
	overflow:hidden;
	height:100%;
}

div#menu-box{
    background:rgba(256,256,256,0.8);
    position:absolute;
    right:20px;
    top:20px;
    padding:10px;
    border-left:3px solid green;
	box-shadow: 10px 5px 10px grey;
}

div#menu-box input{
    background:rgba(256,256,256,0.0);
}

div#menu-box p{
    margin:0px 0px 5px 0px;
}

div#menu-box div#position-box{
    margin:0px 0px 10px 0px;
}

div#position-box input{
    width:45px;
    border:none;
}

div#position-box div::before{
	content:"";
	display:inline-block;
    min-width:15px;
    height:15px;
    border: 1px solid lightGrey;
    border-radius:8px;
}

div#position-box div:hover::before{
	background:lightBlue;
}

div#position-box div.active::before{
	background:lightGrey;
}

div#delta-box{
    display:none;
}

div#delta-box input{
    width:45px;
    border:none;
}